extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Create a new Game

  ul#myTab.nav.nav-tabs(role='tablist')
    li.nav-item
      a#home-tab.nav-link.active(data-toggle='tab' href='#game1' role='tab' aria-controls='home' aria-selected='true') Lucky Spin Game
    li.nav-item
      a#profile-tab.nav-link(data-toggle='tab' href='#game2' role='tab' aria-controls='profile' aria-selected='false') Lucky Counter Game
    li.nav-item
      a#counter-tab.nav-link(data-toggle='tab' href='#game3' role='tab' aria-controls='profile' aria-selected='false') Lucky Number Game

  #myTabContent.tab-content.pt-3
    #game1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
      .row
        .col-md-8.offset-md-2
          form(method='POST', action='/games', id="create-game-1-form")
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.row
              label(class='col-md-2 col-form-label font-weight-bold', for='title') Game title:
              .col-md-10
                input.form-control(type='text', name='title', id='title', placeholder='BSE Lucky spin', autofocus=true, required=true)
            .form-group.row
              label(class='col-md-2 col-form-label font-weight-bold', for='email') Prizes:
            .prizes-container
              .row.prize-row.mb-2
                .col-md-4
                  input.form-control(type='text', name='prizes[title][]', placeholder='Prize title', required=true)
                .col-md-4
                  input.form-control(type='number', min="1", name='prizes[percentage][]', placeholder='Prize win percentage', required=true)
                .col-md-4
                  input.form-control(type='number', min="1", name='prizes[quantity][]', placeholder='Prize quantity', required=true)
                div.action-float-right
                  button.btn.btn-outline-danger.btn-remove-prize.text-center(type='button')
                    i.fa.fa-trash.mr-0
            .d-flex.justify-content-end
              #btn-add-prize.pointer.mt-2
                i.fa.fa-plus
                span Add prize
            .form-group.mt-3.d-flex.justify-content-center
                button.btn.btn-primary(type='submit')
                  i.far.fa-envelope.fa-sm
                  | Create game

    #game2.tab-pane.fade(role='tabpanel' aria-labelledby='home-tab')
      .row
        .col-md-8.offset-md-2 Comming soon

    #game3.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
      .row
        .col-md-8.offset-md-2 Comming soon
          
block scripts
  script.
    $('#btn-add-prize').click(function(){
      var row = $('.prize-row').first().clone()
      $('.prize-row').last().after(row)
    })

    $(document).on('click', '.btn-remove-prize', function(){
      $(this).parent().parent().remove()
    })

    $("#create-game-1-form").on('submit', function(e) {
        e.preventDefault()

        showInfo('Creating your game. Please wait...')
        $.post({
            url: '/games',
            data: $(this).serialize(),
            success: function(data) {
              hideInfo()
              showSuccess('Create game successfully!', 2000)
            },
            error: function(error) {
              hideInfo()
              showError('Something when wrong when create your game! Please try again!', 2000)
            }
        })
    })

block styles
  style.
    .row.prize-row:first-child .btn-remove-prize{
      display: none;
    }
    .action-float-right{
      position: absolute;
      right: -50px;
    }
  
